$tablet: 768px;
$white: #fffbff;

$base: #f6c4b2;
$primary: #186644;
$secondary: #e36a3e;
$tertiary: #00b9ae;

$highlight: $tertiary;
$bg: $base;
$font-display: "Arima Madurai";
$font-base: "sans-serif";

@import url("https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@300;700;900&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: $font-base;
  background: $bg;
  color: $primary;
  padding: 0;
  margin: 0;
}

a {
  color: $secondary;
  transition: color 0.2s ease-out;
  &:hover {
    color: $highlight;
  }
}

h1,
h2,
h3,
h4 {
  font-family: $font-display;
  font-weight: 900;
}

main {
  border: 10px solid $white;
  padding: 20px;
  position: absolute;
  overflow-y: scroll;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: $tablet) {
    padding: 50px;
  }
}

h1 {
  font-size: 32px;
  margin-bottom: 0.5em;

  @media screen and (min-width: $tablet) {
    font-size: 48px;
  }
}

h2 {
  font-size: 28px;
  @media screen and (min-width: $tablet) {
    font-size: 42px;
  }
}

.hero {
  max-width: 100%;
}

.home {
  display: flex;
  flex-direction: column-reverse;

  .hero {
    margin-top: 5px;
  }

  @media screen and (min-width: 600px) {
    flex-direction: row;
    justify-content: space-between;
    max-width: 1000px;

    .intro {
      width: 70%;
    }

    .hero {
      max-width: 30%;
      margin-right: 5px;
    }
  }
}

.banner {
  color: $secondary;
  font-size: 18px;
  position: relative;
  width: 100%;
  text-align: center;
  max-width: 1000px;
  margin-bottom: 20px;
  font-style: italic;

  a {
    text-decoration: none;
  }

  &::before {
    content: "";
    height: 1px;
    width: 40%;
    background-color: $secondary;
    position: absolute;
    left: 0;
    top: 50%;
  }

  &::after {
    content: "";
    height: 1px;
    width: 40%;
    background-color: $secondary;
    position: absolute;
    right: 0;
    top: 50%;
  }
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  background-color: $primary;
  color: $base;
  padding: 20px 40px;

  h1 {
    margin: 0;
  }

  p {
    font-family: $font-display, "sans-serif";
    color: $base;
    font-size: 24px;
    margin: 0;

    @media screen and (min-width: $tablet) {
      font-size: 32px;
    }
  }

  .coming-soon {
    color: $highlight;
    padding: 10px;
    margin-top: 20px;
    font-size: 18px;
  }
}

.cta {
  border: 2px solid $secondary;
  padding: 10px 20px;
  color: $secondary;
  border-radius: 2px;
  text-decoration: none;
  transition: box-shadow 0.2s ease-in;
  font-size: 18px;
  margin-top: 50px;
  display: inline-block;

  &:hover {
    transition: box-shadow 0.2s ease-in;
    box-shadow: 5px 5px 0 1px $highlight;
  }
}

.content {
  max-width: 600px;
  text-align: left;
  font-size: 20px;

  li {
    margin-bottom: 1em;
  }

  a + h1 {
    margin-top: 0;
  }

  .home-link {
    text-decoration: none;
  }
}

footer {
  color: $white;
  position: absolute;
  bottom: 40px;
  width: 100%;
  text-align: center;
  z-index: 10;

  a {
    text-decoration: none;
  }
}
